body {
  background-color: #44281d;
}

header {
  height: 40px;
  border-radius: 10px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.5rem;
}
.nav-label {
  font-weight: bolder;
  text-decoration: none;
  padding-left: 2rem;
  color: cyan;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
.nav-label:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.search {
  padding: 2rem;
  background-color: #97ce4c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.search-label {
  font-size: 1.2rem;
  padding-right: 1rem;
  font-weight: bold;
  font-style: italic;
}
.search-button {
  font-size: 16PX;
  background-color: #e89ac7;
  padding: 5PX;
  margin-left: 10PX;
  border-radius: 5px;
}
.search-input {
  border-radius: 5px;
  height: 25px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 20%);
}

.character-card, .episode-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  text-align: center;
  border: 1px solid rgb(54, 27, 27);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  background-color: cyan;
}
.character-card:hover, .episode-card:hover {
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.3);
}
.character-card .character-name, .episode-card .character-name {
  margin-bottom: 0px;
}

.character-image-container img {
  width: 200px;
  padding: 15px;
  border-radius: 40px;
}

.character-location {
  display: flex;
  flex-direction: column;
}

.character-status {
  margin: 1rem;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  text-transform: uppercase;
  font-weight: bolder;
}
.character-status .Alive {
  color: rgb(39, 82, 55);
}
.character-status .Dead {
  text-decoration: underline;
  color: cyan;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  color: rgb(235, 103, 103);
}
.character-status .unknown {
  text-transform: uppercase;
  font-style: italic;
}

.episode-info {
  margin: 10px;
}
.episode-info_episode {
  margin: 0;
}

.movePage {
  display: flex;
  justify-content: center;
}
.movePage-load {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  font-weight: bolder;
  background-color: #90e0ef;
}
.movePage-load:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1220px) {
  .grid {
    grid-template-columns: repeat(4, 25%);
  }
  .character-image-container img {
    width: 150px;
  }
  .character-status {
    font-size: 15px;
  }
}
@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(3, 33%);
  }
}
@media (max-width: 650px) {
  .nav {
    font-size: 1rem;
  }
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}/*# sourceMappingURL=styles.css.map */